body {
    font-family: "Marko One", serif;
    background-color: #003e43;
    color: #eadab0;
    overflow: hidden; /* Prevent scrolling */
}

.navbar-nav .nav-link {
    font-family: "Fredoka", sans-serif;
    color: #eadab0;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f5e7c8;
    font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
    color: #eadab0;
    text-decoration: underline;
}


.title-home {
    font-family: "League Gothic", sans-serif;
    font-size: 10rem;
}

.btn-home {
    font-family: "Fredoka", sans-serif;
    background-color: #eadab0;
    color: #a04b25;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-home:hover {
    background-color: #f5e7c8;
    color: #a04b25;
}

.btn-home:active {  
    color: #a04b25;
    text-decoration: underline;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.center-content .title-home {
    margin-bottom: 6rem; 
}