body {
    font-family: "Marko One", serif;
    background-color: #003e43;
    color: #eadab0;
}

.navbar-nav .nav-link {
    color: #eadab0;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f5e7c8;
    font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
    color: #eadab0;
    text-decoration: underline;
}

.btn-home {
    background-color: #eadab0;
    color: #a04b25;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-home:hover {
    background-color: #f5e7c8;
    color: #a04b25;
}